[Unit]
Description=Run VPS health check every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=vps-health.service
Persistent=yes

[Install]
WantedBy=timers.target
